/* ВАЖНО - В данном файле все классы должны быть с припиской _custom */
#dynamic-content > div.image_test_type_2{
    order: -1;
}

.line_block_custom{
    border-top: 1px solid red;
}

.with_underline_custom{
    padding-bottom: 35px;
    font-size: clamp(18px, 1.5vw, 25px);
    border-bottom: 2px solid rgba(191, 235, 221, 1);
}

.table_plc_custom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table_element_custom b{
    display: flex;
    width: 70%;
}

.table_element_custom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px;
    padding: 25px;
    width: clamp(300px, 25vw, 500px);
    height: clamp(300px, 35vw, 400px);
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(191, 235, 221, 1);
}

.blue_table_element_custom{
    justify-content: flex-start;
    color: #fff;
    background-color: rgba(2, 94, 161, 1);
    border: 3px solid rgba(2, 94, 161, 1);
    border-radius: 25px;
    width: clamp(300px, 70%, 1060px);
}

.third_row_table_custom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bold_another_color_custom{
    width: 100% !important;
    padding-bottom: 35px;
    color: rgba(191, 235, 221, 1);
}

.full_img_custom{
    width: 100%;
}

.text2{
    flex-grow: 1 !important;
}

.center_div_custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

@media(max-width: 1450px){
    .table_plc_custom{
        justify-content: space-evenly;
    }
    .blue_table_element_custom{
        height: 440px;
    }
}

@media(min-width: 2000px){
    p{
        margin-bottom: 50px;
    }
}

@media(max-width: 856px){
    .table_plc_custom{
        justify-content: space-evenly;
    }
    .third_row_table_custom{
        justify-content: center;
        flex-wrap: wrap;
        min-height: 700px;
    }
    .blue_table_element_custom{
        height: 400px;
    }
}


@media(max-width: 500px){
    .table_element_custom b{
        width: 100%;
    }
    .table_element_custom{
        min-height: 400px;
    }
}